body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../files/background.png");
    background: no-repeat center/100% url("../files/background.png");
}
.container {
    max-width: 40%;
    min-height: 100%;
    margin: auto;
    background-color: #ba2449;
    border-left:1.5vw solid #b61644;
    border-right:1.5vw solid #b61644;
}

.logo img {
    display: block;
    max-width: 50%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.menu {
    display: flex;              
    justify-content: center;    
    align-items: center;        
}

h1 {
    font-size: 2em;
    text-align: center;
    padding: 5%;
    color: #ffe0bc;
}

h2 {
    font-size: 1em;
    text-align: center;
    padding: 5%;
    color: #ffe0bc;
}

h3 {
    font-size: 0.75em;
    text-align: center;
    padding: 5%;
    color: #ffe0bc;
}

p {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 0.75em;
    text-align: left;
    margin: 8%;
    padding: 8%;
    color: #ffe0bc;
}

#intro {

    max-width: 60%;
    max-height: 60%;

}

#workexp {

    max-width: 30%;
    max-height: 30%;

}